<%= form_for @product, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :price, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :brand, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :brand, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_published, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :is_published, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :asin, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :asin, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :author, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  products_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
